flow.json
[
    {
        "id": "e718186f8d39d438",
        "type": "tab",
        "label": "Extract contact information",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "16ee27ef22651a16",
        "type": "http in",
        "z": "e718186f8d39d438",
        "name": "",
        "url": "/createExtractInformation",
        "method": "post",
        "upload": false,
        "swaggerDoc": "",
        "x": 170,
        "y": 60,
        "wires": [
            [
                "02d501464104b4e7"
            ]
        ]
    },
    {
        "id": "02d501464104b4e7",
        "type": "function",
        "z": "e718186f8d39d438",
        "name": "OpenAI API properties",
        "func": "//const api_key = global.get('process_env').OPENAI_API\nconst api_key = msg.payload.key;\nconst content = msg.payload.text;\n\n// OpenAI API properties\nconst settings = {\n    model: \"text-davinci-003\",\n    prompt: content,\n    max_tokens: 64,\n    temperature: 0,\n    top_p: 1.0,\n    frequency_penalty: 0.0,\n    presence_penalty: 0.0,\n    stop: [\"###\"]\n\n};\n\nif (api_key) {\n    msg.url = 'https://api.openai.com/v1/completions';\n    msg.headers = {\n        'Content-Type': 'application/json',\n        'Authorization': `Bearer ${api_key}`,\n    };\n    msg.payload = settings;\n    msg.settings = settings;\n    return [msg, null];\n} else {\n    msg.payload = settings;\n    msg.settings = settings;\n    return [null, msg];\n}\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n\n",
        "outputs": 2,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 420,
        "y": 60,
        "wires": [
            [
                "b4e50009e23cc6de"
            ],
            [
                "2a99ebe3a2ba9d31"
            ]
        ]
    },
    {
        "id": "b4e50009e23cc6de",
        "type": "http request",
        "z": "e718186f8d39d438",
        "name": "OpenAI API",
        "method": "POST",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 650,
        "y": 60,
        "wires": [
            [
                "ccd1052f332cd8a5"
            ]
        ]
    },
    {
        "id": "ccd1052f332cd8a5",
        "type": "function",
        "z": "e718186f8d39d438",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\nif (!msg.payload.error) {\n    msg.payload = {\n        succsess: true,\n        text: msg.payload.choices[0].text,\n        settings: convertPayloadToObject(msg.settings)\n    }\n} else {\n    msg.payload = {\n        succsess: false,\n        payload: msg.payload.error.code\n    }\n}\n\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 840,
        "y": 60,
        "wires": [
            [
                "b9feb372d310ec7b",
                "51f4c567d45f6486"
            ]
        ]
    },
    {
        "id": "b9feb372d310ec7b",
        "type": "http response",
        "z": "e718186f8d39d438",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1030,
        "y": 60,
        "wires": []
    },
    {
        "id": "51f4c567d45f6486",
        "type": "debug",
        "z": "e718186f8d39d438",
        "name": "succses",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 20,
        "wires": []
    },
    {
        "id": "2a99ebe3a2ba9d31",
        "type": "function",
        "z": "e718186f8d39d438",
        "name": "Response",
        "func": "function convertPayloadToObject(msg) {\n    let objArr = [];\n    for (const [key, value] of Object.entries(msg)) {\n        objArr.push({ key, value });\n    }\n    return objArr;\n}\n\nmsg.payload = {\n    settings: convertPayloadToObject(msg.settings)\n}\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 650,
        "y": 120,
        "wires": [
            [
                "d3c1a37928e639bf"
            ]
        ]
    },
    {
        "id": "d3c1a37928e639bf",
        "type": "http response",
        "z": "e718186f8d39d438",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 800,
        "y": 120,
        "wires": []
    }
]